{% extends 'base.html.twig' %}


{% block title %}
	pogs
{% endblock %}


{% block body %}
	<img href="img/pog1.jpg">
	<h1>Nos pogs</h1>
	<div class="container">
		<div class="row">
			{% for product in product %}
				<div class="col-3">
					<div class="card">
						<div class"card-body">
							<div class="card-title">
								<a class="nav-link" href="{{ path('pog', {id: product.id}) }}">
									<img src="img/pog{{ random(['1', '2', '3', '4', '5']) }}.jpg " alt="pog image" width="100px"></a>
								<div class=" card-text">
									Ceci est le
									{{ product.name }}
									il est ...
								</div>
								<a href="{{ path('pog', {id: product.id}) }}" class="btn-primary btn-sm">Detail</a>
								<a href="{{ path('product.detail', {id: product.id}) }}" class="btn-success btn-sm">Ajouter</a>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	{% endblock %}
