<!DOCTYPE html>
<html>
	<head>
		<style>
			#leftbox {
				float: left;
				width: 15%;
				height: 130px;
			}
			#middlebox {
				float: left;
				width: 50%;
				height: 280px;
			}
			#rightbox {
				float: right;
				width: 25%;
				height: 280px;
			}
			h1 {
				text-align: center;
			}
		</style>

		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="stylesheet" href="https://bootswatch.com/5/flatly/bootstrap.min.css">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{# {% set text = app.request.requestUri %}
																																																										{{ dump(text.substring(7)) }} #}

		{# {{ dump(app) }} #}

			<nav class="navbar navbar-expand-lg navbar-dark bg-primary"> <a class="navbar-brand" href="/">Pog Site</a>
			<a class="navbar-brand" href="/pogs">Pogs</a>
			<a class="navbar-brand" href="/collectors">Collectors</a>
			<a class="navbar-brand" href="/vintages">Vintages</a>

			{% if (app.request.attributes.get('_route') == "app_blog") %}
				<li class="nav-item">
					<a class="btn btn-light" href="{{ path('blog') }}">Articles</a>
				</li>
				<li class="nav-item">
					<a class="btn btn-light" href="{{ path('blog_create') }}">Créer un article</a>
				</li>
			{% endif %}

			<div class="container">
				<form name="searchForm" id="searchForm" action="{{ path('app_search') }}" class=" d-flex" method="GET">
					<input class="form-control me-sm-2" type="text" name="search" id="search" placeholder="Search">
					<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
				</form>
				{% if not (is_granted('IS_AUTHENTICATED_REMEMBERED')) %}
					<a class="btn btn-light" href="{{ path('app_register') }}">register</a>
					<a class="btn btn-light" href="{{ path('app_login') }}">login</a>
				{% else %}
					<div class="w3-dropdown-hover">
						<button class="button">{{ app.user.email }}</button>
						<div class="w3-dropdown-content w3-bar-block w3-border">
							<a href="{{ path('app_logout') }}" class="w3-bar-item w3-button">Logout</a>
						</div>
					</div>
				{% endif %}
				{% if not(app.request.attributes.get('_route') == "app_blog") %}
					<a href="{{ path('app_blog') }}" class="btn btn-light">blog</a>
				{% endif %}
				<div class="navbar-nav">
					<a href="{{ path('cart') }}" class="btn btn-light">panier</a>
					<div display="flex" justify-content="flex-" class="collapse navbar-collapse" id="navbarColor01">
						<ul class="navbar-nav me-auto"></div>
					</nav>
					<div class="container" </div> </nav> {% block body %} {% endblock %} </body> </html> </body> </html>
