{% extends 'base.html.twig' %}

{% block title %}
	category:
	{{ slug }}
{% endblock %}

{% block body %}

	<div class="row" ">
		{% for i in category.producljts %}
			<div class="col-3">
				<div class="card">
					{# <a class="nav-link" href="{{ path('pog', {id: pog.id}) }}"> #}
					{# <img src="img/pog{{ i }}.jpg" alt=" pog {{ i }} image" width=" 100px"> #}
					{# </a> #}
						<a class="nav-link" href="img/pog1.jpg"> <img src="img/pog{{ i }}.jpg" alt=" pog {{ i }} image" width=" 100px">
					</a>
					<div class"card-body">
						<div class="card-title">
							<div class=" card-text">
								Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat eius minus sunt, incidunt molestias inventore explicabo eos ut mollitia consectetur!
							</div>
							<a href="#" class="btn-primary btn-sm">Detail</a>
							<a href="#" class="btn-success btn-sm">Ajouter</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
	<div class="container">
		<h1>Catégory :
			{{ category.name }}</h1>
	</div>
	{# {% for product in category.name %} #}
	{# <p>{{ product.name }}</p> #}
	{# {% endfor %} #}
#}{% endblock %}
