{% extends 'base.html.twig' %}

{% block title %}Drugs{% endblock %}

{% block body %}
    <h1>Drugs</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ drug.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ drug.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ drug.description }}</td>
            </tr>
            <tr>
                <th>Barcode</th>
                <td>{{ drug.barcode }}</td>
            </tr>
            <tr>
                <th>Immgpath</th>
                <td>{{ drug.immgpath }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ drug.price }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_drugs_index') }}">back to list</a>

    <a href="{{ path('app_drugs_edit', {'id': drug.id}) }}">edit</a>

    {{ include('drugs/_delete_form.html.twig') }}
{% endblock %}
